@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400:900|Source+Sans+Pro:300,900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties */
:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Sans Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}


@media(min-width: 800px){
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General Styles */

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1 ;
}

section{
  padding: 5em 2em;
  width: 100vw;
}

img {
  display: block;
  max-width: 100%
}

h1, h2, h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}

.section_title{
  margin-bottom: .25em;
  text-align: center;
}

.section_title-intro{
  font-weight: var(--fw-reg);
}

.section_title-intro strong{
  display: block;
}

.section_subtitle{
  margin: 0;
  font-size: var(--fs-h3);
}

.section_subtitle-intro,
.section_subtitle-about {
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  padding: .5em 1em;
  margin-bottom: 1em;
}

#about{
  height: 50vh;
  text-align: center;
}

.section_subtitle-about{
  width: 75vw;
}

/* Header */

header{
  background: var(--clr-accent);
  position:fixed;
  width: 100%;
  z-index: 3;
}
header::after{
  content: '';
  display: table;
  clear: both;
}

.logo{
  float: left;
  size: 0.5rem;
}
nav{
  float: right;
  margin: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(200%);
  position: relative;

}
nav ul{
  margin: 0;
  padding: 0;
  list-style: none;

}

nav li{
  display: inline-block;
  margin-left: 3em;
  margin-right: 3em;
  position: relative;
  color: var(--clr-dark);
}
.nav_item::after{
    display: flex;
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background-color: var(--clr-dark);
    position: absolute;

    transition: all ease-in-out 300ms;
}

.nav_item:hover::after{
  width: 100%;
}

/* Intro */

.intro{
  position: relative;
}

.intro-img{
  box-shadow: var(--bs);
}
 
@media( min-width: 600px){
  .intro{
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }
  
  .intro-img{
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
    overflow: "hidden"
  }
  
  .section_subtitle-intro{
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em)
  }

}

@media(max-width: 800px){
  header{
    background: var(--clr-accent);
    position:fixed;
    // position: sticky;
    height: 100vh;
    width: 50%;
    display: none;
    
  }
  nav{
    position: relative;
    float:none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.proficiencies{
  background-color: var(--clr-dark);
  background-image: url("https://i.pinimg.com/originals/dd/46/75/dd467530c3ccf9c0f860e803af431abb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light ;
  

  color: var(--clr-light);
    .tech-list{
      display: flex;
      flex-wrap: wrap;
      color: var(--clr-light);
      margin: 1em;
      padding: 1em;   
      justify-content: center; 
    }
    .tech{
      padding: 3em;
      text-align: center;
      p {
        opacity: 0;
        transition: max-width 1s ease-out .1s, opacity 1s ease-out .1s, color
      }
    }
    .tech:hover{
      p{opacity: 1;}
    }
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

}
.section_title_prof{
  color: var(--clr-accent);
  position: relative;
}
.section_title_prof::after{
  content: '';
  display: block;
  width: 3em;
  height: 2px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: .5;
}

.section_title-education{
  background-color: var(--clr-dark);
  color: var(--clr-accent);
  width: 75%;
  margin: auto;
  border-radius: 20%;
}
.education{
  background-image: url("http://csurams.com/images/2018/7/17/Oval.jpg");
  background-color: var(--clr-accent);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: hard-light ;
}
.section_subtitle-education {
  text-align: center;
  color:var(--clr-accent);
  background-color: var(--clr-dark);
  font-family: var(--ff-secondary);
  border-radius: 50%;
  font-size: 3em;
  // padding: .5em 1em;
  margin: auto;
  width: 50%;
}
.degree-specs{
  justify-content: center;
  display: flex;
  padding-bottom: 1.5em;
  margin: 0;

  img{
    min-width: 7em;
  }
  font-size: 1.5em;
  ul{
    size: 50%;
    padding: 1em;
    background-color: var(--clr-dark);
    border-radius: 30px;
    position: absolute;
    list-style: none;
    opacity: 0;
    transition: ease-in-out 500ms;
    color: var(--clr-accent);
  }
  &:hover{
    ul{
      opacity: 1;
    }
  }
  
}
